---
---
{% include css/pygments.css %}
{% include css/font-awesome.css %}
{% include css/adaptative/layout.css %}
{% include css/adaptative/header.css %}
{% include css/adaptative/footer.css %}
{% include css/adaptative/typography.css %}
{% include css/adaptative/section_about.css %}
{% include css/adaptative/section_writing.css %}
{% include css/adaptative/section_archives.css %}
{% include css/adaptative/queries.css %}
img {
  max-width: 100%;
}

hr:before {
    content: "⁂";
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 50%;
    margin: 0 0 0 -3px;
    font-size: 15px;
    line-height: 0;
    text-shadow: 0 0 3px #0d0d0d;
}
